<section class="booking-thankyou">
  <div class="container">
    <div class="booking-thankyou-inner">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="booking-box">
            <h3 class="heading4">Thank You<span></span></h3>
            <h4 [innerHTML]="thankMsg"></h4>
            <p><span>*Disclaimer*</span>{{disclaimer.length > discLength ? (disclaimer | slice:0:discLength)+'....' : disclaimer}}
              <a (click)="readMoreReadLess()" class="apply-pointer" style="text-decoration:underline;">{{itineryText}}</a></p>
            <br/>
            <a (click)="dashboard()" class="btn button9 text-uppercase">Dashboard</a> &nbsp; 
            <a class="apply-pointer" routerLink="/my-trips" class="btn button9 text-uppercase">My Trips</a>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>