.email-password {
    z-index: 1;
    position: relative;
}
.thank-you .modal-dialog,
.request-now .modal-dialog,
.profile-photo .modal-dialog,
.email-password .modal-dialog,
.payment-summary .modal-dialog,
.booking-successful .modal-dialog {
    top: 50%;
    left: 50%;
    margin: 0;
    position: fixed;
    transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}
@media (min-width: 768px) {
    .thank-you .modal-dialog,
    .booking-successful .modal-dialog {
        width: 600px;
    }
}
.email-password .close {
    z-index: 1;
    position: relative;
    opacity: 1 !important;
}
.email-password .close img {
    width: 15px;
}
.email-password .modal-header {
    border: none;
}
.email-password .modal-body {
    color: #797979;
    padding: 0 20px 20px;
}
.email-password .modal-body img {
    width: 56px;
}
.email-password .form-box {
    font-size: 14px;
    color: #797979;
    font-weight: normal;
    border-radius: 4px;
}
.email-password .form-box label {
    font-size: 14px;
    color: #797979;
    font-weight: 300;
    line-height: normal;
}
.email-password .form-box .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: 36px;
    border: none;
    padding: 0 0;
    box-shadow: none;
    border-radius: 0;
   appearance: none;
    -ms-appearance: none;
   -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
.email-password .form-box .form-control::-webkit-input-placeholder {
    color: #c7c7c7;
}
.email-password .form-box .form-control:-moz-placeholder {/* FF 4-18 */
    color: #c7c7c7;
}
.email-password .form-box .form-control::-moz-placeholder {/* FF 19+ */
    color: #c7c7c7;
}
.email-password .form-box .form-control:-ms-input-placeholder {/* IE 10+ */
    color: #c7c7c7;
}
.payment-summary .payment-summary-box,
.email-password .password-sent-box {
    color: #333333;
    max-width: 444px;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: normal !important;
}
@media (max-width: 767px) {
    .thank-you .modal-dialog,
    .request-now .modal-dialog,
    .profile-photo .modal-dialog,
    .email-password .modal-dialog {
        width: 60%;
    }
    .email-password .modal-body {
        font-size: 16px;
    }
    .email-password .modal-body .tick-icon {
        width: 45px;
    }
    .email-password .form-box .form-control {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .login-signup.modal {
        left: 0;
    }
    .login-signup .modal-dialog {
        width: 100%;
    }    
    .thank-you .modal-dialog,
    .request-now .modal-dialog,
    .profile-photo .modal-dialog,
    .email-password .modal-dialog {
        width: 90%;
    }
    .modal-body p {
        font-size: 14px;
        padding: 0 5px;
    }
    .email-password .modal-body .tick-icon {
        width: 35px;
    }
    .email-password .form-box .form-control {
        font-size: 13px;
    }
}