<div *ngIf="!openThankuPopUp" id="EmailPassword" class="email-password">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <a class="close apply-pointer" (click)="closeForgotPasswordOnClick()"><img src="{{baseImageUrl+'cross-icon.png'}}" alt="X"></a>
      </div>
      <div class="modal-body row">
        <p>Enter your registered email id and we will send you the password</p>
        <div class="col-sm-8 col-sm-offset-2">
          <form action="" method="post">
            <div class="form-box">
              <div class="form-group text-left">
                <input type="email" class="form-control" placeholder="Enter Email Id" #email>
              </div>
              <a (click)="resetPassword(email.value)" class="btn submit button4 password-sent text-uppercase apply-pointer">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>

 <!-- email sent pop up -->
 <div *ngIf="openThankuPopUp" id="EmailSent" class="email-password">
  <div class="modal-dialog password-sent-box">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <a class="close apply-pointer" (click)="closeForgotPasswordOnClick()"><img src="{{baseImageUrl+'cross-icon.png'}}" alt="X"></a>
      </div>
      <div class="modal-body row">
        <div class="col-sm-10 col-sm-offset-1">
          <p><img src="{{baseImageUrl+'tick-icon.png'}}" alt="Tick" class="tick-icon"></p>
          <p>An email with the password has been sent to your email Id.</p>
          <p>Please check your email and reset the password.</p>
          <a (click)="closeForgotPasswordOnClick()" class="btn submit button1 text-uppercase apply-pointer">Ok</a>
        </div>
      </div>
    </div>
  </div>
 </div>
