.error404 {
    color: #666666;
    text-align: center;
}
.error404 h2 {
    font-size: 40px;
    color: #333333;
    margin-top: 0;
}
.error404 h3 {
    font-size: 22px;
    color: #333333;
    margin: 20px 0;
    line-height: 1.4;
    text-transform: uppercase;
}
.error404 h3 span {
    font-size: 26px;
    display: block;
}
@media (max-width: 767px) {
    .error404 {
        text-align: center;
    }
    .error404 h2 {
        font-size: 35px;
    }
    .error404 h3 {
        font-size: 18px;
    }
    .error404 h3 span {
        font-size: 22px;
    }
}