.change-password {
    z-index: 1;
    position: relative;
}
.change-password .modal-dialog {
    top: 50%;
    left: 50%;
    margin: 0;
    position: fixed;
   transform: translate(-50%, -50%) !important;
   -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
   -moz-transform: translate(-50%, -50%) !important;
   -webkit-transform: translate(-50%, -50%) !important;
}
.change-password .close {
    z-index: 1;
    position: relative;
    opacity: 1 !important;
}
.change-password .close img {
    width: 15px;
}
@media (max-width: 767px) {
    .change-password .modal-dialog {
        width: 60%;
    }
}
@media (max-width: 480px) {
    .change-password .modal-dialog {
        width: 90%;
    }
}
.change-password .password-checkbox {
    float: right;
    width: 24px;
    height: 19px;
    z-index: 1;
    margin-top: -27px;
    position: relative;
}
/*-------------------------My Profile-----------------------*/
.my-profile {
    padding: 50px 0;
}
.my-profile label {
    font-size: 14px;
    color: #797979;
    font-weight: 300;
    line-height: normal;
}
.my-profile form {
    padding: 30px 40px 10px 10px;
}
.my-profile .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: 36px;
    border: none;
    padding: 0 0;
    box-shadow: none;
    border-radius: 0;
   appearance: none;
    -ms-appearance: none;
   -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
.my-profile .form-control::-webkit-input-placeholder {
    color: #c7c7c7;
}
.my-profile .form-control:-moz-placeholder {/* FF 4-18 */
    color: #c7c7c7;
}
.my-profile .form-control::-moz-placeholder {/* FF 19+ */
    color: #c7c7c7;
}
.my-profile .form-control:-ms-input-placeholder {/* IE 10+ */
    color: #c7c7c7;
}
.my-profile select.form-control {
   appearance: none;
    -moz-appearance: none;
   -webkit-appearance: none;
    background: url("../../../../assets/images/select-arrow.png") no-repeat right center / 15px !important;
}
.my-profile form .button {
    font-size: 14px;    
    font-weight: 500;    
    margin-top: 40px;
}
.my-profile .small-box {
    width: 45%;
    float: left;
}
.my-profile .radio-wrap {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    display: block;
    position: relative;
    padding-right: 32px;
    cursor: pointer;
    margin: 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.my-profile .radio-wrap [type="radio"] {
    opacity: 0;
}
.my-profile .checkmark {
    position: absolute;
    top: -2px;
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #b4b3b4;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.my-profile .checkmark i {
    width: 14px;
    height: 14px;
    background: #0d3a43;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
/* On mouse-over, add a grey background color */

.my-profile .radio-wrap input:checked ~ .checkmark {
   border-color: #18afc4;
}
/* When the radio button is checked, add a blue background */

.my-profile .radio-wrap input:checked ~ .checkmark i {
    background-color: #18afc4;
    display: block;
}
@media (max-width: 767px) {
    .my-profile form .button {    
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    .my-profile .form-box .form-control {
        font-size: 14px;
    }
}