<div id="ChangePassword" class="change-password my-profile">
 <div class="modal-dialog">
   <!-- Modal content-->
   <div *ngIf="changePass" class="modal-content text-center">
     <div class="modal-body">
       <a class="close" data-dismiss="modal" (click)="closingEvent()"><img src="{{baseImageUrl+'cross-icon.png'}}" alt="X"></a>
       <form (ngSubmit)="updatePassword(changePassword.value)" #changePassword="ngForm">
         <div class="form-group text-left">
           <input [type]="cpass?'text':'password'" class="form-control" id="myInput2" maxlength="8" name = "cpass" [(ngModel)]="changePass.cpass" placeholder="Enter current password">
           <img [src] ="cpass? baseImageUrl+'show-password.png' : baseImageUrl+'hide-password.png'" (click)="showPasswordClick('cpass')" class="password-checkbox apply-pointer" alt="hide password">
           <br/>
         </div>
         <div class="form-group text-left">
           <input [type]="npass?'text':'password'" class="form-control" id="myInput3" maxlength="8" name = "npass" [(ngModel)]="changePass.npass" placeholder="Enter new password">
           <img [src] ="npass? baseImageUrl+'show-password.png' : baseImageUrl+'hide-password.png'" (click)="showPasswordClick('npass')" class="password-checkbox apply-pointer" alt="hide password">
           <br/>
         </div>
         <div class="form-group text-left">
           <input [type]="rpass?'text':'password'" class="form-control" id="myInput4" maxlength="8" name = "rpass"  [(ngModel)]="changePass.rpass" placeholder="Re-type new password">
           <img [src] ="rpass? baseImageUrl+'show-password.png' : baseImageUrl+'hide-password.png'" (click)="showPasswordClick('rpass')" class="password-checkbox apply-pointer" alt="hide password">
           <br/>
         </div>
         <button type="submit" class="btn submit button4 text-uppercase" [disabled]="setButtonDisable">Change Password</button>
       </form>
     </div>
   </div>
 </div>
</div>