.support {
    padding: 30px 0;
}
.support .support-inner {
    border-radius: 4px;
    background: #ffffff;
}
.support label {
    font-size: 15px;
    color: #797979;
    font-weight: 300;
    margin-bottom: 0;
    line-height: normal;
}
.support form {
    width: 70%;
    padding: 40px 20px 30px;
    margin: 0 auto;
}
.support form h3 {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px;
    text-align: center;
    letter-spacing: 0.7px;
}
.support form h3 img {
    width: 90px;
    margin-bottom: 10px;
    display: inline-block;
}
.support .form-group {
    margin-bottom: 15px;
}
.support .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: 34px;
    border: none;
    padding: 0 0;
    box-shadow: none;
    border-radius: 0;
   appearance: none;
    -ms-appearance: none;
   -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
.support .form-control::-webkit-input-placeholder {
    color: #c7c7c7;
}
.support .form-control:-moz-placeholder {/* FF 4-18 */
    color: #c7c7c7;
}
.support .form-control::-moz-placeholder {/* FF 19+ */
    color: #c7c7c7;
}
.support .form-control:-ms-input-placeholder {/* IE 10+ */
    color: #c7c7c7;
}
.support select.form-control {
   appearance: none;
    -moz-appearance: none;
   -webkit-appearance: none;
    background: url("../../../assets/images/select-arrow.png") no-repeat right center / 15px !important;
}
.support input[type="file"] {
   /* display: none; */
    margin-top: 4px;
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}
.support .custom-file-upload {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: normal;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 3px;
    background: #f6f5f5;
    border: 1px solid #edecec;
}
.support textarea.form-control {
    resize: none;
    font-size: 14px;
    min-height: 150px;
    padding: 8px 10px;
    border-radius: 5px;
    border: solid 1px #edecec;
}
.support form .btn {
    font-size: 14px;    
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0;
}
.support .small-box {
    width: 45%;
    float: left;
}
.support .form-text {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
    margin-top: 16px;
    line-height: normal;
}
@media (max-width: 767px) {
    .support{
        padding: 20px 0;
    }
    .support form h3 {
        font-size: 15px;
    }
    .support form {
        width: 100%;
    }
    .support label {
        font-size: 13px;
    }
    .support .form-control {
        font-size: 14px;
        height: 30px;
    }
    .support input[type="file"] {
        font-size: 14px;
    }
    .support .form-group {
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    .support form{
        padding: 20px 15px 10px;
    }
    .support .small-box {
        width:100%;
        float: none;
    }
   .support form h3 {
        font-size: 14px;
    }
    .support form .btn {
        width: 100%;
    }
    .support textarea.form-control {
        min-height: 80px;
        padding: 8px 10px;
    }
    .support form h3 img {
        width: 70px;
    }
}