<section class="banner-header text-center">
  <div class="container">
    <h1 class="banner-heading">Page Not Found<span></span></h1>
  </div>
</section>
<section class="error404 main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">         
        <h2><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#FFFF00;"></i> Error 404</h2>
        <h3><span>Oops... !</span>Page Not Found</h3>
        <p>Sorry, The page you have reqested has either been moved, or does not exist.</p>
      </div>
    </div>
  </div>
</section>