.refer-earn {
    padding: 20px 0 30px;
}
.refer-earn .refer-earn-inner {
    text-align: center;
    border-radius: 9px;    
    background: #ffffff;
    padding: 30px 10px 30px;
}
.refer-earn h1 {
    font-size: 26px;    
    color: #353535;
    font-weight: bold;    
    line-height: 1.37;
    margin: 10px 0;
    letter-spacing: 1.2px;
}
.refer-earn h2 {
    font-size: 16px;
    color: #6e6e6e;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 15px;
}
.refer-earn .refer-steps {
    position: relative;
    margin: 50px 0 30px;
}
.refer-earn .refer-steps::before {
    top: 34%;
    left: 50%;
    width: 80%;
    height: 1px;
    content: "";
    position: absolute;
    background: #18afc4;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.refer-earn .refer-steps img {
    width: 110px;
    margin-bottom: 15px;
}
.refer-earn .refer-steps p {
    font-size: 16px;
    color: #6e6e6e;
    font-weight: bold;
    line-height: 1.28;
    padding: 0 15px;
    letter-spacing: 0.7px;
}
.refer-earn .invite-code {
    font-size: 16px;
    color: #6e6e6e;
    font-weight: bold;
    line-height: normal;
    padding: 15px 50px;
    border-radius: 4px;
    background: #ffffff;
    margin-bottom: 15px;
    display: inline-block;
    border: 2px dashed #979797;    
}
.refer-earn .share-via h3 {
    font-size: 25px;
    color: #333333;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
}
.refer-earn .share-via ul {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    list-style: none;
    text-align: center;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 0 14px rgba(217, 217, 217, 0.5);;
}
.refer-earn .share-via ul li {
    width: 25%;
    float: left;
    text-align: center;
}
.refer-earn .share-via ul li a {
    font-size: 13px;
    color: #333333;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-decoration: none;
}
.refer-earn .share-via ul li a img {
    width: 42px;
    text-align: center;
}
.refer-earn .share-via ul li a span {
    display: block;
    margin-top: 10px;
}
@media (max-width: 767px) {
    .refer-earn .share-via ul {
        width: 100%;
    }
    .refer-earn .share-via ul li a img {
        width: 35px;
    }
    .refer-earn h1 {
        font-size: 24px;
        letter-spacing: 0;
    }
    .refer-earn .share-via h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .refer-earn .invite-code {
        font-size: 15px;
        padding: 12px 20px;
    }
    .refer-earn .refer-steps::before {
        top: 24%;
    }
    .refer-earn .refer-steps img {
        width: 90px;
    }
    .refer-earn .refer-steps p {
        font-size: 15px;
        margin-bottom: 30px;
    }
}
@media (max-width: 480px) {
    .refer-earn h1 {
        font-size: 18px;
        letter-spacing: 0;
    }
    .refer-earn h2 {
        font-size: 14px;
    }
    .refer-earn .share-via h3 {
        font-size: 18px;
    }
    .refer-earn .invite-code {
        font-size: 13px;
        padding: 10px 20px;
        margin-bottom: 0;
    }
    .refer-earn .refer-earn-inner{
        padding: 20px 10px;
    }
    .refer-earn .share-via ul li a {
        font-size: 11px;
    }
    .refer-earn .share-via ul li a img {
        width: 30px;
    }
    .refer-earn .refer-steps::before {
        background: none;
    }
    .refer-earn .refer-steps {
        margin: 25px 0 0;
    }
    .refer-earn .refer-steps .refer-steps-item {
        width: 100%;
        float: none;
    }
    .refer-earn .refer-steps img {
        width: 80px;
        margin-bottom: 5px;
    }
    .refer-earn .refer-steps p {
        font-size: 14px;
    }
}