<section class="banner-header text-center">
  <div class="container">
    <h1 class="banner-heading">Cancellation Policy<span></span></h1>
  </div>
</section>
<section class="main-content content-text cancellation">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="cancellation-box">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <h3>In case Odigos cancels the tour - <strong>100% Refund</strong></h3>
              <h3>In case Guide cancels the tour - <strong>100% Refund</strong></h3>
              <h3>In case Tourist cancels the tour:</h3>
              <ul>
                <li><span>7 days before the tour - <strong>100% Refund</strong></span></li>
                <li><span>3 days before the tour - <strong>80% Refund</strong></span></li>
                <li><span>48 hours before the tour - <strong>50% Refund</strong></span></li>
                <li><span>24 hours or less before the tour - <strong>0% Refund</strong></span></li>
              </ul>                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>