<section class="main-listing guideList">
  <div class="container">
    <div class="bread-crumb">
      <p>Home &nbsp; > &nbsp; Hire a Guide &nbsp; > &nbsp; <a>Select Guide</a></p>
      <p *ngIf="data">Showing 1 - {{data.length}} of {{totalCount}} Result</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6" *ngFor="let item of data">
        <div class="listing clearfix borderBrown">
          <div class="listing-left">
            <a class="apply-pointer"><img [src]="item.guide_image" alt="guide1" class="img-responsive"></a>
            <span class="guide-fee">&#8377; {{item.guide_charges | number: '.0-0'}}</span>
          </div>
          <div class="listing-right">
            <h3><a class="apply-pointer">{{item.guide_name.length> 21 ? (item.guide_name | slice:0:21)+'...' : item.guide_name }}</a></h3>
            <i *ngFor="let i of [1,2,3,4,5]" [ngClass]="{'rated': i<=item.guide_rating}" class="fa fa-star" aria-hidden="true"></i> 
            <div class="guide-detail row">
              <div class="col-xs-12 col-sm-8">
                <h4><span>Tour</span>{{item.tour_name.length>21 ? (item.tour_name | slice:0:21)+'...' : item.tour_name}}</h4>
                <!--<a class="btn button6 text-uppercase" id="details">View Details</a> -->                     
              </div>
              <div class="col-xs-12 col-sm-4 textRight">
                <h4 class="brown"><span>Date</span>{{item.tour_date}}</h4>                      
                <!--<a href="#" class="btn button7 text-uppercase" data-toggle="modal" data-dismiss="modal" data-target="#RequestNow">Request Now</a>-->
              </div>
            </div>
            <div class="row hidden-xs">
              <div class="col-xs-3 text-left">
                <!--<h4><span>Tour</span>Ahemdabad Heritage - 6 Visits</h4>-->
                <a class="btn button6 details" href="/tour-guide/{{item.web_url}}/{{item.place_url}}" (click)="setActualTripDate(item.tour_date)">View Details</a>                      
              </div>
              <div class="col-xs-9 text-right guideOtherPackageBtn">
                <!--<h4 class="brown"><span>Date</span>12 Sep, 2018</h4>-->                      
                <a (click)="navigate(item)" [ngClass]="{'disableButtonEvent && guideButtonBooked':item.other_packages==0}" class="btn text-uppercase guideButtonNormal">Other Packages</a>
                <a *ngIf="isUserLogin && item.is_booked==0" class="button7 text-uppercase" data-toggle="modal" data-dismiss="modal" data-target="#BookNow" (click)="setTripDetail(item)">Request Now</a>
                <a *ngIf="!isUserLogin && item.is_booked==0" class="button7 text-uppercase"  data-toggle="modal" data-dismiss="modal" data-target="#NotLogin">Request Now</a>
                <a *ngIf="item.is_booked!=0" class="btn guideButtonBooked text-uppercase">Booked</a>
              </div>
            </div>
          </div>
           <!-- changes start -->
           <div class="row visible-xs">
            <div class="col-xs-12 guideOtherPackageBtn">                    
              <a (click)="navigate(item)" [ngClass]="{'disableButtonEvent && guideButtonBooked':item.other_packages==0}" class="btn text-uppercase guideButtonNormal">Other Packages</a>
              <a *ngIf="isUserLogin && item.is_booked==0" class="button7 text-uppercase" data-toggle="modal" data-dismiss="modal" data-target="#BookNow" (click)="setTripDetail(item)">Request Now</a>
              <a *ngIf="!isUserLogin && item.is_booked==0" class="button7 text-uppercase"  data-toggle="modal" data-dismiss="modal" data-target="#NotLogin">Request Now</a>
              <a *ngIf="item.is_booked!=0" class="btn guideButtonBooked text-uppercase">Booked</a>
            </div>
          </div>
          <!-- changes end-->
          <div *ngIf="item.is_certified!=0" class="certified-badge"><a data-toggle="tooltip" title="This tour guide has been certified by The Ministry of Tourism, Government of India"><img src="{{baseImageUrl+'certified-badge.png'}}" class="img-responsive" alt="certified-badge"></a></div>
        </div> 
      </div>
    </div>
    <div class="text-center load-more-button" *ngIf="data"><br><br>
      <button *ngIf="totalCount > data.length" [ngClass] = "{'setDisable':buttonDisable}" class="btn button3" (click)="loadMoreTrips()" [disabled]="buttonDisable">Load More...</button>
    </div>
  </div>
  <!-- loader -->
  <div *ngIf="showLoader" class="loader-container">
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <!-- loader -->
</section>


<!-- Book now Modal -->
<div id="BookNow" class="modal download-app-now fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-body">
        <a class="close" data-dismiss="modal"><img src="{{baseImageUrl+'cross-icon.png'}}" alt="X"></a>
        <p *ngIf="data" class="col-xs-10 col-xs-offset-1">You are requesting for <span class="blue">{{tripName}}</span> on <br/>{{getNextDate(data[0].tour_date)}}</p>
        <form (ngSubmit)="requestNowTrip(request.value)" #request="ngForm">
          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" name="mobile" [(ngModel)]="guideNumber"
            onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="10" autocomplete="off" [value]="guideNumber" class="form-control">
          </div>
          <div class="form-group">
            <input type="button" class="button8 text-uppercase" data-dismiss="modal" value="CANCEL"> &nbsp; 
            <input type="hidden" id="closeModelOnClick"  data-dismiss="modal" value="Submit">
            <input type="submit" class="button9 text-uppercase apply-pointer" [disabled] = "disableSubmit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end book modal -->

<!-- Login pop up if user is not logged in -->
<div id="NotLogin" class="modal not-login fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-body">
        <a class="close" data-dismiss="modal"><img src="{{baseImageUrl+'cross-icon.png'}}" alt="X"></a>
        <p>&nbsp;</p>
        <p>You need to login to process your request!</p><br>
        <!-- <a href="#" class="button8 text-uppercase">Cancel</a> &nbsp; <a (click)="openLoginForm=true" class="button9 text-uppercase">Login</a> -->
      </div>
    </div>
  </div>
</div>
<!-- Login pop up if user is not logged in -->