/*--------------------------Header--------------------------*/
/* downlaod start */
app-notifications{
    
}
.appLink {
    font-size: 14px;
    top: -15px;
    width: 100%;
    z-index: 1;
    color: #ffffff;
    padding: 3px 0;
    position: relative;
    text-align: center;
    background: #00a5bc;
}
.appLink.close-download-bar {
   display: none !important;
}
.appLink a {
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}
.appLink img {
   width: 12px;
}
.appLink a i {
    font-size: 16px;
    padding-left: 8px;
    vertical-align: unset;
}
.appLink #closeLink {
   top: 3px;
   right: 15px;
   cursor: pointer;
   position: absolute;
}
@media (max-width: 767px) {
    .appLink {
        top: -10px;
    }    
}
/* end download */
header.navbar-static-top {
    z-index: 1;
    padding: 15px 0;
    position: relative;
    background: #ffffff;
}
header.navbar-static-top .logo {
    float: left;
}
header.navbar-static-top .logo img {
    width: 106px;
}
header.navbar-static-top.sticky {
    position: fixed;
    background: #ffffff;
    top: 0;
    width: 100%;
    animation: smoothScroll 0.3s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*@media (min-width: 768px) {
    header.navbar-static-top {
        left: 0;
        right: 0;
        position: absolute;
    }
}*/
@media (max-width: 767px) {
    header.navbar-static-top {
        padding: 10px 0;
    }
    header.navbar-static-top.sticky {
        position: fixed;
    }
    header.navbar-static-top .logo {
        z-index: 1;
        float: none;
        text-align: center;
        position: relative;
        display: inline-block;
    }
    header.navbar-static-top .logo img {
        width: 90px;
    }
}
/*--------------------------Navbar--------------------------*/
.navbar {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    float: none;
    list-style: none;
}
.navbar ul li {
    float: none;
    display: block;
    border-bottom: 1px solid rgba(24, 175, 196, 0.17);
}
.navbar ul li a {
    font-size: 16px;
    color: #333333;
    line-height: normal;
    font-weight: normal;
    display: block;
    letter-spacing: 0.8px;
    text-decoration: none;
    padding: 21px 10px 21px 46px;
}
.navbar ul > li a.active,
.navbar ul > li a:hover {
    color: #18afc4;
    text-decoration: none;
}
.navbar ul > li a:focus {
    text-decoration: none;
}
.navbar .navbar-toggler {
    float: left;
    border: none;
    background: none;
    position: relative;
    z-index: 0 !important;
    margin: 20px 20px 0 0;
}
.navbar .navbar-toggler .icon-bar {
    width: 22px;
    height: 2px;
    display: block;
    border-radius: 1px;
    background: #333333;
}
.navbar .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0;
    border-radius: 0;
    /* border-right: 1px solid #f7fafa; */
}
.navbar .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height:100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.navbar .sidepanel .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
}
.navbar .social {
    display: block;
    margin: 20px 0 0 46px;
}
.navbar .social a {
    width: 26px;
    height: 26px;
    font-size: 13px;
    line-height: 24px;
    color: #18afc4;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border: 1px solid #18afc4;
}
.navbar .social a:last-child {
    margin-right: 0;
}
.navbar .social a:hover i {
    color: #ffffff;
}
.navbar .social a:hover {
    background: #18afc4;
}
/* search css */
.search {
    width: 65%;
    float: left;
    margin-left: 5%;
    position: relative;
}
.search .form {
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #efefef;
}
.search .search-listing {
    left: 0;
    top: 47px;
    z-index: 1;
    width: 100%;
    overflow: auto;
    max-height: 300px;
    position: absolute;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 0 0 2px #f1f1f1;
}
.search .search-listing li {
    display: block;
}
.search .search-listing li a {
    font-size: 14px;
    color: #333333;
    font-weight: 300;
    letter-spacing: 0.8px;
    padding: 10px 20px;
}
.search .search-listing li a:hover {
    color: #18afc4;
    background: rgba(24, 175, 196, 0.03);
}
.search .form .form-control {
    font-size: 13px;
    color: #333333;
    font-weight: 300;
    line-height: normal;
    border: none;
    height: 45px;
    box-shadow: none;
    letter-spacing: 0.5px;
    padding: 0 10px 0 25px;
    background: url("../../../assets/images/search-icon.png") no-repeat left center / 15px;
}
.search .form .form-control::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.48);
}
.search .form .form-control:-moz-placeholder {/* FF 4-18 */
    color: rgba(51, 51, 51, 0.48);
}
.search .form .form-control::-moz-placeholder {/* FF 19+ */
    color: rgba(51, 51, 51, 0.48);
}
.search .form .form-control:-ms-input-placeholder {/* IE 10+ */
    color: rgba(51, 51, 51, 0.48);
}
.top-link {
    text-align: right;
}
.top-link a {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
    line-height: 50px;
    margin: 0 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.top-link a:hover {
    color: #18afc4;
}
.top-link a .fa-bell-o {
    position: relative;
}
.top-link a span.badge.count {
    font-family: "HelveticaNeue";
    font-size: 10px;
    right: -6px;
    top: -10px;
    font-weight: 500;
    padding: 3px 5px;
    position: absolute;
    background: #ffab40;
}
.top-link a.last {
    color: #ffffff;
    padding: 0 40px;
    text-align: center;
    border-radius: 2px;
    background: #18afc4;
}
.top-link a.last:hover {
    background: #17a2b5;
}
header .dropdown .profile-icon {
    width: 36px;
    border-radius: 50%;
}
header .dropdown-menu {
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}
header .dropdown-menu ul {
    padding: 0;
    margin: 16px 0 0;
    min-width: 400px;
    list-style: none;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
header .dropdown-menu li {
    width: 100%;
}
header .dropdown-menu li a {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin: 0;
    position: relative;
    text-transform: none;
    padding: 15px 20px;
}
header .dropdown-menu li a img {
    height: 23px;
}
header .dropdown-menu li a span.badge {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    float: right;
    padding: 7px 21px;
    border-radius: 4px;    
    background: #f4a044;
    margin: -6px 10px 0 0;
    letter-spacing: 0.4px;
}
header .dropdown-menu li a:hover {
    background: #f1f1f1;
}
header .dropdown-menu li a::after {
    bottom: 0;
    left: 20px;
    right: 20px;
    content: "";
    height: 1px;
    position: absolute;
    background: rgba(229, 228, 228, 0.5);    
}
header .dropdown-menu li:last-child a::after {
    background: none;    
}
@media (max-width: 1199px) {
    .search {
        width: 50%;
    }
    .top-link a {
        font-size: 12px;
        margin: 0 10px;
        letter-spacing: 0;
    }
}
@media (max-width: 991px) {
    header {
        padding: 10px 0 !important;
    }
    header .header-left,
    header .top-link {
        width: 100%;
        float: none;
    }
    .navbar ul li a {
        font-size: 15px;
        line-height: 26px;
    }
}
@media (max-width: 820px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 767px) {
    .navbar {
        z-index: 1;
        float: none;
        /* width: 100%; */
        border: none;
        min-height: auto;
        text-align: center;
    }
    .navbar .navbar-collapse {
        border-top: none;
        box-shadow: none;
    }
    .navbar ul {
        width: 100%;
        text-align: left;
        border-bottom: none;
    }
    .navbar ul li {
        display: block;
    }
    .navbar ul li.last {
        display: inline-block;
    }
    .navbar ul > li a {
        border: none !important;
        margin-bottom: 0;
        padding: 8px 10px 8px 20px;
    }
    .navbar .navbar-collapse {
        top: 64px;
        left: 0;
        right: 0;
        z-index: 1;
        position: absolute;
        border: none !important;
        background: rgba(0, 0, 0, 0.6);
    }
    .navbar ul > li a.active,
    .navbar ul > li a:hover {
        /*color: #ffffff;*/
        text-decoration: none;
    }
    .navbar .social {
        text-align: left;
        margin: 20px 0 0 20px;
    }
    .navbar .navbar-toggler {
        left: 0;
        position: absolute;
        margin: 15px 12px 0 0;
    }
    .navbar .notification-icon-mobile {
        float: right;
        margin-top: 10px;
        color: #333333;
    }
    header .dropdown-menu ul {
        margin-top: 0;
        min-width: auto;
        box-shadow: none;
        background: rgba(0, 0, 0, 0.01);
    }
    header .dropdown-menu li {
        text-indent: 35px;
        border-bottom: none;
    }
    header .dropdown-menu li a {
        font-size: 13px;
        line-height: 1.5;
        padding: 8px 10px 8px 20px !important;
    }
    header .dropdown-menu li a::after {
        display: none;
    }
    header .dropdown-menu li a img {
        height: 17px;
    }
    header .dropdown-menu li a span.badge {
        font-size: 13px;
        padding: 4px 10px;
        margin: -2px 10px 0 0;
        text-indent: 0;
    }
    header li a span.badge {
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        line-height: normal;
        float: right;
        text-indent: 0;
        padding: 4px 8px;
        border-radius: 50%;   
        background: #f4a044;
        margin: 1px 10px 0 0;
        letter-spacing: 0.4px;
    }
    .search {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .search .form .form-control {
        height: 40px;
        letter-spacing: 0;
    }
}
@media (max-width: 480px) {
    .search {
        margin: 10px 0 0 0;
    }
    .search .form {
        padding: 0 10px;
    }
    .search .form .form-control {
        font-size: 12px;
        height: 30px;
        padding: 0 10px 0 20px;
        background: url("../../../assets/images/search-icon.png") no-repeat left center / 12px;
    }
}
/* pop up css */
.popup-download-app .modal-dialog {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
   transform: translate(-50%, -50%) !important;
   -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
   -moz-transform: translate(-50%, -50%) !important;
   -webkit-transform: translate(-50%, -50%) !important;
}
.popup-download-app .modal-header {
    border: none;
    background: rgba(24, 175, 196, 0.1);
}
.popup-download-app .modal-header h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    line-height: normal;
    margin: 12px 0;
}
.popup-download-app .modal-header .close {
    opacity: 1;
    margin: -26px -22px 0 0;
}
.popup-download-app .modal-header .close img {
    width: 36px;
}
.popup-download-app .modal-body {
    padding: 30px 15px;
}
.popup-download-app .modal-body img {
    margin: 0 10px;
    width: 180px;
}
@media (min-width: 768px) {
    .popup-download-app .modal-dialog {
        width: 600px;
    }
}
@media (max-width: 767px) {
    .popup-download-app .modal-header h3 {
        font-size: 18px;
        margin: 0;
    }
    .popup-download-app .modal-body img {
        width: 100px;
        margin: 0 5px;
    }
}
@media (max-width: 480px) {
    .popup-download-app .modal-dialog {
        width: 90%;
    }
    .popup-download-app .modal-body {
        padding: 30px 15px;
    }
    .popup-download-app .modal-header .close img {
        width: 25px;
    }
}
