.chat-box .chat-left {
    padding: 0;
    background: #ffffff;
}
.chat-box .chat-left-inner {
    height: 660px;
    overflow: auto;
    padding: 0 15px;
}
.chat-box .chat-left-inner::after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
    background: rgba(151, 151, 151, 0.5);
}
.chat-box .chat-left h3 {
    font-size: 18px;
    color: #666666;
    font-weight: 500;
    margin: 0;
    padding: 14px 15px;
    line-height: normal;
    border-right: 1px solid rgba(151, 151, 151, 0.5);
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.chat-box .chat-left .chat-list {
    padding: 15px 0;
    position: relative;
}
.chat-box .chat-left .list {
    font-size: 13px;
    color: #666666;
    font-weight: 300;
    line-height: 1.38;
    margin: 5px 0;
    padding: 5px 10px;
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 1px 2px #b1b1b1;
    border: 1px solid rgba(151, 151, 151, 0.5);
}
.chat-box .chat-left .list.active::before {
    top: 0;
    left: 0;
    width: 4px;
    content: "";
    height: 100%;
    position: absolute;
    background: #59c568;
    border-radius: 5px 0 0 5px;
}
.chat-box .chat-left .list a {
    color: #666666;
    display: block;
    text-decoration: none;
}
.chat-box .chat-left .list:hover {
    border: 1px solid #18afc4;
}
.chat-box .chat-left .list .list-img {
    width: 20%;
    float: left;
}
.chat-box .chat-left .list .list-img img {
    width: 50px;
    border-radius: 5px;
    margin: 13px 10px 10px 5px;
}
.chat-box .chat-left .list .list-text {
    width: 80%;
    float: right;
}
.chat-box .chat-left .list .list-text h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(207, 242, 247, 0.5);
}
.chat-box .chat-left .list .list-text h4 span {
    float: right;
    font-size: 12px;
    color: #666666;
    margin-top: 3px;
    font-weight: normal;
}
.chat-box .chat-left .list .list-text p {
    letter-spacing: 0.3px;
    word-wrap: break-word;
}
.chat-box .chat-left .input-group {
    width: 100%;
    position: relative;    
}
.chat-box .chat-left .input-group img {
    top: 10px;
    left: 15px;
    z-index: 4;
    position: absolute;    
}
.chat-box .chat-left .form-control {
    font-size: 16px;
    color: #666666;
    height: 40px;
    border-radius: 5px;
    line-height: normal;
    font-weight: normal;
    padding-left: 42px;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid rgba(151, 151, 151, 0.5);
}
.chat-box .chat-left .form-control:focus {
    outline: none !important;
    box-shadow: none;
}
.chat-box .chat-left .form-control::-webkit-input-placeholder {
    color: #c7c7c7;
}
.chat-box .chat-left .form-control:-moz-placeholder {/* FF 4-18 */
    color: #c7c7c7;
}
.chat-box .chat-left .form-control::-moz-placeholder {/* FF 19+ */
    color: #c7c7c7;
}
.chat-box .chat-left .form-control:-ms-input-placeholder {/* IE 10+ */
    color: #c7c7c7;
}
.chat-box .chat-right h1 {
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    margin: 0 -15px;
    padding: 8px 15px;
    line-height: normal;
    background: #ffffff;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);    
}
.chat-box .chat-right h1 span {
    font-size: 12px;
    display: block;
    font-weight: normal;
}
.chat-box .chating-box {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    margin: 20px 50px;
    position: relative;
    border-radius: 4px;
    background: #ffffff;
}
.chat-box .chating-box .msg-box-outer {
    padding: 15px;
    overflow: auto;
    max-height: 620px;
}
.chat-box .chating-box .msg-box {
    min-height: 590px;
    padding: 20px 20px 70px;
}
.chat-box .chating-box .msg-box .msg {    
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: 1.29;
    padding: 11px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    clear: both;
}
.chat-box .chating-box .msg-box .received {
    float: left;
    background:rgba(241, 241, 241, 0.4);
}
.chat-box .chating-box .msg-box .send {
    float: right;
    background: rgba(218, 243, 246, 0.4);
}
.chat-box .chating-box .msg-input {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    padding: 12px 20px;
    box-shadow: 0 2px 4px #e2e1e1;
    background: #fbf9f9;
}
.chat-box .chating-box .input-group-btn {
    padding-left: 20px;
}
.chat-box .chating-box .msg-input .form-control {
    font-size: 16px;
    color: #666666;
    height: 44px;
    font-weight: normal;
    padding: 0 15px;
    box-shadow: none;
    border-radius: 4px;
    background: #ffffff;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none !important;
    outline: none !important;
}
.chat-box .chating-box .msg-input .form-control::-webkit-input-placeholder {
    color: #c7c7c7;
}
.chat-box .chating-box .msg-input .form-control:-moz-placeholder {/* FF 4-18 */
    color: #c7c7c7;
}
.chat-box .chating-box .msg-input .form-control::-moz-placeholder {/* FF 19+ */
    color: #c7c7c7;
}
.chat-box .chating-box .msg-input .form-control:-ms-input-placeholder {/* IE 10+ */
    color: #c7c7c7;
}
.chat-box .chating-box .button1 { 
    margin: 10px auto 5px;
}
.chat-box .chating-box h5 {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: normal;
}
.chat-box .chating-inner {
    padding: 10px 20px;
    border-radius: 4px;
    background: #ffffff;
    margin-bottom: 15px;
    border: 1px solid rgba(151, 151, 151, 0.5);        
}
.chat-box .chating-inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box .chating-inner ul li {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    line-height: normal;
    padding: 4px 0;
}
.chat-box .chating-inner ul li span {
    color: #333333;
    float: right;
}
.chat-box .radio-wrap {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    display: block;
    position: relative;
    padding-right: 32px;
    cursor: pointer;
    margin: 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chat-box .radio-wrap [type="radio"] {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.chat-box .checkmark {
    position: absolute;
    right: 0;
    top: -4px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #b4b3b4;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.chat-box .checkmark i {
    width: 18px;
    height: 18px;
    background: #0d3a43;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;

}
/* On mouse-over, add a grey background color */

.chat-box .radio-wrap input:checked ~ .checkmark {
   border-color: #18afc4;
}
/* When the radio button is checked, add a blue background */

.chat-box .radio-wrap input:checked ~ .checkmark i {
    background-color: #18afc4;
    display: block;
}
.chat-box .form-group:first-child {
    margin-bottom: 20px;
}
.chat-box .form-group:last-child {
    margin-bottom: 0;
}
.chat-box .success-msg {
    text-align: center;
    margin-top: 5px;
}
.chat-box .success-msg img {
    width: 56px;
}
::-webkit-inner-spin-button {
    display: none;
}
::-webkit-calendar-picker-indicator {
   background: #3e727a;
   position: relative;
   width: 30px;
}
@media (max-width: 1099px) {
    .chat-box .chat-left .list .list-img {
        width: 22%;
    }
    .chat-box .chat-left .list .list-text {
        width: 78%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .chat-box .chating-box {
        margin: 20px;
    }
}
@media (max-width: 820px) {
    .chat-box .chat-left .list .list-img img {
        width: 45px;
    }
}
@media (max-width: 767px) {
    .notification {
        margin-top: 65px;
    }
    .chat-box .success-msg img {
        width: 38px;
    }
    .chat-box .chating-box {
        font-size: 15px;
        padding: 15px 0;
        margin: 0;
        line-height: 1.4;
    }
    .chat-box .checkmark {
        top: -4px;
        width: 24px;
        height: 24px;
        border: 2px solid #b4b3b4;
    }
    .chat-box .checkmark i {
        width: 12px;
        height: 12px;
    }
    .chat-box .chat-left .chat-list {
        padding: 10px 0;
    }
    .chat-box .chat-left-inner {
        height: auto;
        padding: 0 10px;
    }
    .chat-box .chat-left-inner::after {
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        width: auto;
        height: 1px;
    }
    .chat-box .chat-left h3 {
        font-size: 14px;
        padding: 10px 15px;
        border-right: none;
    }
    .chat-box .chat-right h1 {
        font-size: 14px;
    }
    .chat-box .chat-left .list {
        font-size: 12px;
        padding: 0 10px;
    }
    .chat-box .chat-left .list .list-img {
        margin: 0;
    }
    .chat-box .chat-left .list .list-img img {
        width: 40px;
    }
    .chat-box .chat-left .list .list-text h4 {
        font-size: 14px;
    }
    .chat-box .radio-wrap {
        font-size: 14px;
        padding-right: 26px;
        margin: 3px 0;
    }
    .chat-box .chating-inner {
        padding: 10px;
    }
    .chat-box .chating-inner ul li {
        font-size: 15px;
    }
    .chat-box .form-group:first-child {
        margin-bottom: 10px;
    }
    .chat-box .chating-box .msg-box {
        padding: 0 0 30px;
    }    
    .chat-box .chating-box .msg-box .msg {    
        font-size: 13px;
        padding: 7px 10px;
        margin-bottom: 10px;
    }
    .chat-box .chat-right {
        background: #ffffff;
    }    
    .chat-box .chating-box .msg-input {
        left: -15px;
        right: -15px;
        padding: 10px;
    }
    .chat-box .chating-box .msg-input .form-control {
        font-size: 14px;
        height: 30px;
        padding: 0 10px;
    }
    .chat-box .chating-box .msg-box-outer {
        padding: 0;
        max-height: 150px;
    }
    .chat-box .chat-left .list .list-img {
        width: 10%;
    }
    .chat-box .chat-left .list .list-text {
        width: 90%;
    }
}
@media (max-width: 640px) {
    .chat-box .chat-left .list .list-img {
        width: 13%;
    }
    .chat-box .chat-left .list .list-text {
        width: 87%;
    }
}
@media (max-width: 480px) {
    .chat-box .chat-left .list {
        font-size: 12px;
        padding: 0 10px;
    }
    .chat-box .chat-left .list .list-img img {
        width: 35px;
        margin-left: 0;
    }
    .chat-box .chat-left .list .list-img {
        width: 15%;
        margin-right: 2%;
    }
    .chat-box .chat-left .list .list-text {
        width: 83%;
    }
}
/*---------------------------Inbox--------------------------*/
.inbox {
    padding: 15px 0;
}
.inbox .chat-box {
    /*background: #f8f7f7;*/
    box-shadow: 0 1px 4px #cccccc;
    border: 1px solid rgba(151, 151, 151, 0.5);
}
.inbox .chat-box .chat-left .list.active::before {
    background: #18afc4;
}
/* no chat available */
.no-chat {
    padding: 20px 0;
}
.no-chat .no-chat-inner {
    padding: 70px 15px;
    text-align: center;
    border-radius: 4px;
    background: #ffffff;
}
.no-chat .no-chat-inner img {
    width: 220px;
    margin-bottom: 5px;
}
.no-chat .no-chat-inner p {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
@media (max-width: 767px) {
    .no-chat .no-chat-inner {
        padding: 20px 15px;
    }
    .no-chat .no-chat-inner img {
        width: 150px;
    }
}
@media (max-width: 480px) {
    .no-chat .no-chat-inner img {
        width: 120px;
    }
    .no-chat .no-chat-inner p {
        font-size: 14px;
    }
}